@typeparam TRow
@using BlazorGrid.Infrastructure
@using Microsoft.AspNetCore.Components.Web.Virtualization
@if (DetectColumns)
{
    <ColumnBuffer TRow="TRow" OnColumnsChanged="OnColumnsChanged">
        @ChildContent(GetEmptyRow())
    </ColumnBuffer>
}
@if (Columns.Any())
{
    <div @attributes="FinalAttributes">
        @if (ShowLoadingOverlay == true)
        {
            <div class="grid-overlay">
                <div class="@Config.Styles.PlaceholderWrapperClass">
                    <div class="@Config.Styles.LoadingSpinnerOuterClass">
                        <div class="@Config.Styles.LoadingSpinnerInnerClass"></div>
                    </div>
                    <div class="@Config.Styles.LoadingTextClass">@Resources.Loading_Text</div>
                </div>
            </div>
        }
        else if (LoadingError != null)
        {
            <div class="grid-overlay">
                <div class="@Config.Styles.PlaceholderWrapperClass">
                    <div class="@Config.Styles.ErrorHeadingClass">
                        <h2>@Resources.LoadingError_Title</h2>
                    </div>
                    <div class="@Config.Styles.ErrorSubHeadingClass">@Resources.LoadingError_Text</div>
                    <small class="@Config.Styles.ErrorTextClass">@LoadingError.Message</small>
                    @if (System.Diagnostics.Debugger.IsAttached)
                    {
                        <code style="line-break: auto">@LoadingError.StackTrace</code>
                    }
                    <div class="@Config.Styles.ErrorFooterClass">
                        <button class="@Config.Styles.ErrorFooterBtnClass" @onclick="ReloadAsync">@Resources.LoadingError_ReloadBtnText</button>
                    </div>
                </div>
            </div>
        }
        <div class="blazor-grid">
            <div class="grid-scrollview" style="grid-template-columns: @GridTemplateColumns() 0;">
                @foreach (var col in Columns)
                {
                    var isSorted = IsSortedBy(col);
                    var sortable = col.For != null;
                    var cls = col.CssClass + " grid-cell grid-header-cell";

                    if (sortable)
                    {
                        cls += " sortable";

                        if (isSorted)
                        {
                            cls += " sorted";
                        }
                    }
                    <div @onclick="() => TryApplySortingAsync(col)" class="@cls">
                        @if (!col.AlignRight)
                        {
                            @col.GetCaptionOrDefault()
                        }
                        @if (sortable)
                        {
                            <span class="@ColHeaderSortIconCssClass(col)"></span>
                        }
                        @if (col.AlignRight)
                        {
                            @col.GetCaptionOrDefault()
                        }
                    </div>
                }
                <div class="grid-cell grid-cell-row-anchor"></div>
                @if (TotalRowCount == 0 || Provider is null)
                {
                    <div>
                        <div class="@Config.Styles.PlaceholderWrapperClass">
                            <h5 class="@Config.Styles.NoDataHeadingClass">@Resources.Empty_Title</h5>
                            @if (string.IsNullOrEmpty(Query))
                            {
                                <p class="@Config.Styles.NoDataTextClass">@Resources.Empty_Text</p>
                            }
                            else
                            {
                                <p class="@Config.Styles.NoDataTextClass">@Resources.Empty_Text_Filtered</p>
                            }
                        </div>
                    </div>
                }
                else
                {
                    <Virtualize ItemsProvider="GetItemsVirtualized" @ref="VirtualizeRef" ItemSize="VirtualItemSize">
                        <Placeholder>
                            @foreach (var col in Columns)
                            {
                                <div class="grid-cell grid-cell-placeholder">
                                    <div>&#8203;<span></span></div>
                                </div>
                            }
                            <div class="grid-cell grid-cell-row-anchor"></div>
                        </Placeholder>
                        <ItemContent>
                            <CascadingValue TValue="Func<Task>" Value="() => OnRowClicked(context)" IsFixed="true" Name="RowClickCallback">
                                <CascadingValue TValue="string" Value="RowClass()" IsFixed="true" Name="RowClass">
                                    @ChildContent(context.Row)
                                </CascadingValue>
                            </CascadingValue>
                            <div class="grid-cell grid-cell-row-anchor @(HighlightedRowIndex == context.Index ? Config.Styles.RowHighlightedClass : "")"></div>
                        </ItemContent>
                    </Virtualize>
                    @if (TotalRowCount.HasValue)
                    {
                        <footer>
                            <div class="@Config.Styles.FooterWrapperClass">
                                <div class="@Config.Styles.FooterTextClass">@string.Format(Resources.Footer_RowCount, TotalRowCount ?? 0)</div>
                            </div>
                        </footer>
                    }
                }
            </div>
        </div>
    </div>
}