@typeparam T
@implements IGridCol<T>
@if (Parent == null)
{
    <div @attributes="FinalAttributes">
        @if (ChildContent == null)
        {
            @GetAutoValue()
        }
        else
        {
            @ChildContent
        }
    </div>
}
else
{
    <div @onclick="_ => Parent.TryApplySorting(For)" class="@CssClass">
        @if (!AlignRight)
        {
            @GetCaptionOrDefault()
        }
        @if (IsFiltered)
        {
            <span class="blazor-grid-filter-icon @(IsFiltered ? "active" : "")" />
        }
        else
        {
            <span class="@SortIconCssClass()" />
        }
        @if (AlignRight)
        {
            @GetCaptionOrDefault()
        }
    </div>
}