@implements IGridCol
@if(Parent == null)
{
    <div class="@CssClass">@ChildContent</div>
}
else
{
    var prop = SortablePropertyName;
    var sorted = Parent.OrderByPropertyName != null && prop == Parent.OrderByPropertyName;
    <div @onclick="_ => Parent.TryApplySorting(prop)" class="@CssClass @(prop == null ? " " : " sortable") @(sorted ? "sorted" : "" )">
        @if (!AlignRight) {
            @Caption
        }
        @if(prop != null) {
            <i class="fa fa-sort-alpha-@(Parent.OrderByDescending ? "desc" : "asc") @(AlignRight ? "mr-2" : "ml-2") sorted-indicator @(sorted ? "" : "invisible")"></i>
        }
        @if (AlignRight) {
            @Caption
        }
    </div>
}